{% extends 'base.html' %}

{% block content %}
  <body>

        <h1>User Signup</h1>

        <form action="/signup" method="POST">

          <input type="text" name="username" value="{{username}}" placeholder="Username" required/>
          <p>{{username_error}}</p>

          <input type="text" name="password" value="{{password}}" placeholder="Password" required/>
          <p>{{password_error}}</p>

          <input type="password" name="verify" value="{{verify}}" placeholder="Verify Password" required/>
          <p>{{verify_error}}</p>

          <input type="text" name="email" value="{{email}}" placeholder="Email (Optional)"/>
          <p>{{email_error}}</p>

          <input type="submit" name="submit" value="Sign Up">

        </form>


    <div class="footer">

      <p>by Toast</p>

    </div>

  </body>
{% endblock %}